@model ProyectoTickets.INCIDENTE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>


<div>
    <h4>INCIDENTE</h4>
    <hr />
    
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" id="btnBorrar" class="btn btn-default" /> 
                </div>
            }
   
</div>
