@{
    ViewBag.Title = "Home Page";
}
@section  scripts{
    <script src="@Url.Content("~/Content/estiloindex.js")" type="text/javascript"></script>
}
<div>
    <section class="showcase">
        <header>
            <h2 class="logo">TICKETS</h2>
            <div class="toggle"></div>
        </header>
        <div class="overlay"></div>
        <div class="text">
            <h2>SIGT</h2>
            <h3>Sistema Integral de Gestión de Tickets</h3>
            <p>
                
            </p>
            <a href="/Account/Register">Registrarse</a>
            <br/>
            <a href="/Account/Login">Iniciar Sesión</a>
        </div>
        <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>
    </section>
    <div class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li>@Html.ActionLink("Administrar Categorías", "Index", "CATEGORIA")</li>
            <li>@Html.ActionLink("Administrar Roles", "Index", "AspNetRoles")</li>
            <li>@Html.ActionLink("Administrar Roles", "Index", "AspNetRoles")</li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>