@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
        @Html.AntiForgeryToken()

        <div class="text">

            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            <br />  
            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
        </div>
    }
}
else
{

    <div class="text">

        @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @data_toggle = "modal", @data_target = "#registerModal" })
        <br />
        @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @data_toggle = "modal", @data_target = "#loginModal" })
    </div>
}
